/*ログイン用CSS*/

header {
    background: linear-gradient(#29303B,#29303B,#29303B);
    margin: 10px auto ;
    /*width: 800px;*/
    /*font-style: italic;*/
}

.container {
    margin: 30px auto;
    /*box-shadow:3px 3px 6px 1px #000000;*/
    padding-right: 0;
    padding-left: 0;
    max-width: 960px;
}

header h1 {
    text-align: center;
    color: #fff;
    padding: 3px;
    font-size: 2.0rem;
}

hr {
    height: 10px;
    /*width: 85%;*/
    max-width: 1024px;
}

form {
    width: 50%;
}

.form-group {
    margin-left: 20px;
    /*margin: 0 auto;*/
    

}
.form-control {
    /*width: 100%;*/
    
}

.checkbox {
    margin-left: 20px;
}

button {
    margin-bottom: 20px;
}
.btn-info {
    margin-right: 10px;
}

.btn-danger {
    margin-left: 20px;
}

.error {
    color: rgb(255, 0, 0);
}

.jumbotron {
    background-size: cover;
}